*
!{{cookiecutter.package_import_name}}/src/**
!{{cookiecutter.package_import_name}}/pyproject.toml
!{{cookiecutter.package_import_name}}/poetry.lock
!{{cookiecutter.package_import_name}}/LICENSE
!{{cookiecutter.package_import_name}}/README.md
!environment.yml
!requirements.txt
